.contacts {
    background-color: $light-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30vh;
    padding: 0 12.5%;
    box-sizing: border-box;
}