.button {
    display:inline-block;
    box-sizing: border-box;
    background: linear-gradient(45deg, $violet, $purpul);
    //max-width: 215px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.35;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: $white;
    padding: 1.5em 2em;

}